
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>ギッハブる日記</title>
  <meta name="author" content="mattn">

  
  <meta name="description" content="URLから自動で本文らしい所を抜き取って引用文にしてくれるプラグイン書いた。1{&#37; urlref https://github.com &#37;}こう書くとGitHub - Social CodingjQuery, reddit, Sparkle, curl, Ruby on Rails &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://mattn.github.com/blog/">
  <link href="/blog/favicon.ico" rel="icon">
  <link href="/blog/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/blog/javascripts/modernizr-2.0.js"></script>
  <script src="/blog/javascripts/ender.js"></script>
  <script src="/blog/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/blog/atom.xml" rel="alternate" title="ギッハブる日記" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/blog/">ギッハブる日記</a></h1>
  
    <h2>ギッハブで作る開発日誌</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/blog/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:mattn.github.com/blog" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
<ul class="main-navigation">
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/blog/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2011/10/24/urlref/">URLから本文を抜き出してblockquote作るプラグイン書いた</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-10-24T00:00:00+09:00" pubdate  data-updated="true" >Oct 24<span>th</span>, 2011</time>
        
         | <a href="/blog/2011/10/24/urlref/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>URLから自動で本文らしい所を抜き取って引用文にしてくれるプラグイン書いた。</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>{&#37; urlref https://github.com &#37;}</span></code></pre></td></tr></table></div></figure>


<p>こう書くと</p>

<blockquote>
<a href="https://github.com ">GitHub - Social Coding</a>
<p>jQuery, reddit, Sparkle, curl, Ruby on Rails, node.js, ClickToFlash, Erlang/OTP, CakePHP, Redis, and many more
</p>
<cite>https://github.com </cite>
</blockquote>


<p>こんな感じ。楽チン。キャッシュ使って連続アクセスはしないようにした。</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>{&#37; urlref http://twitter.com/hasegawayosuke/ &#37;}</span></code></pre></td></tr></table></div></figure>


<p>こんなのだと</p>

<blockquote>
<a href="http://twitter.com/hasegawayosuke/ ">Yosuke HASEGAWA (@hasegawayosuke)はTwitterを使っています</a>
<p>
</p>
<cite>http://twitter.com/hasegawayosuke/ </cite>
</blockquote>


<p>こんな感じだし、こんなのだと</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>{&#37; urlref https://twitter.com/hasegawayosuke/status/127346935911821312 &#37;}</span></code></pre></td></tr></table></div></figure>


<p>こんなのだと</p>

<blockquote>
<a href="https://twitter.com/hasegawayosuke/status/127346935911821312 ">Twitter / Yosuke HASEGAWA: 昨日に引き続き肉食べ過ぎて満腹。さぁ、大阪に帰ろう。</a>
<p>Twitter / Yosuke HASEGAWA: 昨日に引き続き肉食べ過ぎて満腹。さぁ、大阪に帰ろう。
</p>
<cite>https://twitter.com/hasegawayosuke/status/127346935911821312 </cite>
</blockquote>


<p>焼肉食べたい。</p>

<blockquote>
<a href="http://octopress.org/">Octopress</a>
<p>Octopress is a framework designed by Brandon Mathis for Jekyll, the blog aware static site generator powering Github Pages. To start blogging with Jekyll, you have to write your own HTML templates, CS&#8230;
</p>
<cite>http://octopress.org/</cite>
</blockquote>


<p>octopressにpull request送ったけど、取り入れられるかどうかは知らない。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
<span class='line-number'>24</span>
<span class='line-number'>25</span>
<span class='line-number'>26</span>
<span class='line-number'>27</span>
<span class='line-number'>28</span>
<span class='line-number'>29</span>
<span class='line-number'>30</span>
<span class='line-number'>31</span>
<span class='line-number'>32</span>
<span class='line-number'>33</span>
<span class='line-number'>34</span>
<span class='line-number'>35</span>
<span class='line-number'>36</span>
<span class='line-number'>37</span>
<span class='line-number'>38</span>
<span class='line-number'>39</span>
<span class='line-number'>40</span>
<span class='line-number'>41</span>
<span class='line-number'>42</span>
<span class='line-number'>43</span>
<span class='line-number'>44</span>
<span class='line-number'>45</span>
<span class='line-number'>46</span>
<span class='line-number'>47</span>
<span class='line-number'>48</span>
<span class='line-number'>49</span>
<span class='line-number'>50</span>
<span class='line-number'>51</span>
<span class='line-number'>52</span>
<span class='line-number'>53</span>
<span class='line-number'>54</span>
<span class='line-number'>55</span>
<span class='line-number'>56</span>
<span class='line-number'>57</span>
<span class='line-number'>58</span>
<span class='line-number'>59</span>
<span class='line-number'>60</span>
<span class='line-number'>61</span>
<span class='line-number'>62</span>
<span class='line-number'>63</span>
<span class='line-number'>64</span>
<span class='line-number'>65</span>
<span class='line-number'>66</span>
<span class='line-number'>67</span>
<span class='line-number'>68</span>
<span class='line-number'>69</span>
<span class='line-number'>70</span>
<span class='line-number'>71</span>
<span class='line-number'>72</span>
<span class='line-number'>73</span>
<span class='line-number'>74</span>
<span class='line-number'>75</span>
<span class='line-number'>76</span>
<span class='line-number'>77</span>
<span class='line-number'>78</span>
<span class='line-number'>79</span>
<span class='line-number'>80</span>
<span class='line-number'>81</span>
<span class='line-number'>82</span>
<span class='line-number'>83</span>
<span class='line-number'>84</span>
<span class='line-number'>85</span>
<span class='line-number'>86</span>
<span class='line-number'>87</span>
<span class='line-number'>88</span>
<span class='line-number'>89</span>
<span class='line-number'>90</span>
<span class='line-number'>91</span>
<span class='line-number'>92</span>
<span class='line-number'>93</span>
<span class='line-number'>94</span>
<span class='line-number'>95</span>
<span class='line-number'>96</span>
<span class='line-number'>97</span>
<span class='line-number'>98</span>
<span class='line-number'>99</span>
<span class='line-number'>100</span>
<span class='line-number'>101</span>
<span class='line-number'>102</span>
<span class='line-number'>103</span>
<span class='line-number'>104</span>
<span class='line-number'>105</span>
<span class='line-number'>106</span>
<span class='line-number'>107</span>
<span class='line-number'>108</span>
<span class='line-number'>109</span>
<span class='line-number'>110</span>
<span class='line-number'>111</span>
<span class='line-number'>112</span>
<span class='line-number'>113</span>
<span class='line-number'>114</span>
<span class='line-number'>115</span>
<span class='line-number'>116</span>
<span class='line-number'>117</span>
<span class='line-number'>118</span>
<span class='line-number'>119</span>
<span class='line-number'>120</span>
<span class='line-number'>121</span>
<span class='line-number'>122</span>
<span class='line-number'>123</span>
<span class='line-number'>124</span>
<span class='line-number'>125</span>
<span class='line-number'>126</span>
<span class='line-number'>127</span>
<span class='line-number'>128</span>
<span class='line-number'>129</span>
<span class='line-number'>130</span>
<span class='line-number'>131</span>
<span class='line-number'>132</span>
<span class='line-number'>133</span>
<span class='line-number'>134</span>
<span class='line-number'>135</span>
<span class='line-number'>136</span>
<span class='line-number'>137</span>
<span class='line-number'>138</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'><span class="c1">#</span>
</span><span class='line'><span class="c1"># Author: Yasuhiro Matsumoto</span>
</span><span class='line'><span class="c1"># Include reference of text.</span>
</span><span class='line'><span class="c1">#</span>
</span><span class='line'><span class="c1"># Outputs a string with a given URL</span>
</span><span class='line'><span class="c1">#</span>
</span><span class='line'><span class="c1">#   <blockquote>
<a href="http://google.com/search?q=pants ">301 Moved</a>
<p>
</p>
<cite>http://google.com/search?q=pants </cite>
</blockquote>
</span>
</span><span class='line'><span class="c1">#   ...</span>
</span><span class='line'><span class="c1">#   &lt;blockquote&gt;</span>
</span><span class='line'><span class="c1">#     &lt;a href=&quot;http://google.com/search?q=pants&quot;&gt;The Search For Bobby&#39;s Pants&lt;/p&gt;</span>
</span><span class='line'><span class="c1">#     &lt;p&gt;...&lt;/p&gt;</span>
</span><span class='line'><span class="c1">#     &lt;cite&gt;&lt;a href=&quot;http://google.com/search?q=pants&quot;&gt;The Search For Bobby&#39;s Pants&lt;/a&gt;&lt;/cite&gt;</span>
</span><span class='line'><span class="c1">#   &lt;/blockquote&gt;</span>
</span><span class='line'><span class="c1">#</span>
</span><span class='line'><span class="nb">require</span> <span class="s1">&#39;cgi&#39;</span>
</span><span class='line'><span class="nb">require</span> <span class="s1">&#39;digest/md5&#39;</span>
</span><span class='line'><span class="nb">require</span> <span class="s1">&#39;net/https&#39;</span>
</span><span class='line'><span class="nb">require</span> <span class="s1">&#39;uri&#39;</span>
</span><span class='line'><span class="nb">require</span> <span class="s1">&#39;iconv&#39;</span>
</span><span class='line'>
</span><span class='line'><span class="k">module</span> <span class="nn">Jekyll</span>
</span><span class='line'>
</span><span class='line'>  <span class="k">class</span> <span class="nc">UrlRef</span> <span class="o">&lt;</span> <span class="no">Liquid</span><span class="o">::</span><span class="no">Tag</span>
</span><span class='line'>    <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">tag_name</span><span class="p">,</span> <span class="n">args</span><span class="p">,</span> <span class="n">tokens</span><span class="p">)</span>
</span><span class='line'>      <span class="k">super</span>
</span><span class='line'>      <span class="k">if</span> <span class="n">pair</span> <span class="o">=</span> <span class="n">args</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="sr">/(\S+)\s+([\d\.]+)/</span><span class="p">)</span>
</span><span class='line'>        <span class="vi">@url</span> <span class="o">=</span> <span class="n">pair</span><span class="o">[</span><span class="mi">1</span><span class="o">].</span><span class="n">strip</span>
</span><span class='line'>        <span class="vi">@per</span> <span class="o">=</span> <span class="n">pair</span><span class="o">[</span><span class="mi">2</span><span class="o">].</span><span class="n">strip</span><span class="o">.</span><span class="n">to_f</span>
</span><span class='line'>      <span class="k">else</span>
</span><span class='line'>        <span class="vi">@url</span> <span class="o">=</span> <span class="n">args</span>
</span><span class='line'>        <span class="vi">@per</span> <span class="o">=</span> <span class="mi">0</span><span class="o">.</span><span class="mi">1</span>
</span><span class='line'>      <span class="k">end</span>
</span><span class='line'>      <span class="vi">@cache_disabled</span> <span class="o">=</span> <span class="kp">false</span>
</span><span class='line'>      <span class="vi">@cache_folder</span>   <span class="o">=</span> <span class="no">File</span><span class="o">.</span><span class="n">expand_path</span> <span class="s2">&quot;../.urlref-cache&quot;</span><span class="p">,</span> <span class="no">File</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="bp">__FILE__</span><span class="p">)</span>
</span><span class='line'>      <span class="no">FileUtils</span><span class="o">.</span><span class="n">mkdir_p</span> <span class="vi">@cache_folder</span>
</span><span class='line'>    <span class="k">end</span>
</span><span class='line'>
</span><span class='line'>    <span class="k">def</span> <span class="nf">render</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
</span><span class='line'>      <span class="k">if</span> <span class="n">text</span> <span class="o">=</span> <span class="n">get_cached_text</span><span class="p">(</span><span class="vi">@url</span><span class="p">,</span> <span class="vi">@per</span><span class="p">)</span> <span class="o">||</span> <span class="n">get_text_from_url</span><span class="p">(</span><span class="vi">@url</span><span class="p">,</span> <span class="vi">@per</span><span class="p">)</span>
</span><span class='line'>        <span class="n">lines</span> <span class="o">=</span> <span class="n">text</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="sr">/\n/</span><span class="p">,</span> <span class="mi">3</span><span class="p">)</span>
</span><span class='line'>        <span class="n">title</span> <span class="o">=</span> <span class="no">CGI</span><span class="o">.</span><span class="n">escapeHTML</span> <span class="n">lines</span><span class="o">[</span><span class="mi">1</span><span class="o">]</span>
</span><span class='line'>        <span class="n">body</span> <span class="o">=</span> <span class="no">CGI</span><span class="o">.</span><span class="n">escapeHTML</span> <span class="n">lines</span><span class="o">[</span><span class="mi">2</span><span class="o">]</span>
</span><span class='line'>        <span class="o">&lt;&lt;-</span><span class="no">HTML</span>
</span><span class='line'><span class="sh">&lt;blockquote&gt;</span>
</span><span class='line'><span class="sh">&lt;a href=&quot;#{@url}&quot;&gt;#{title}&lt;/a&gt;</span>
</span><span class='line'><span class="sh">&lt;p&gt;#{body}&lt;/p&gt;</span>
</span><span class='line'><span class="sh">&lt;cite&gt;#{@url}&lt;/cite&gt;</span>
</span><span class='line'><span class="sh">&lt;/blockquote&gt;</span>
</span><span class='line'><span class="no">        HTML</span>
</span><span class='line'>      <span class="k">else</span>
</span><span class='line'>        <span class="s2">&quot;&quot;</span>
</span><span class='line'>      <span class="k">end</span>
</span><span class='line'>    <span class="k">end</span>
</span><span class='line'>
</span><span class='line'>    <span class="k">def</span> <span class="nf">cache</span><span class="p">(</span><span class="n">url</span><span class="p">,</span> <span class="n">text</span><span class="p">,</span> <span class="n">per</span><span class="p">)</span>
</span><span class='line'>      <span class="n">cache_file</span> <span class="o">=</span> <span class="n">get_cache_file_for</span> <span class="n">url</span><span class="p">,</span> <span class="n">per</span>
</span><span class='line'>      <span class="no">File</span><span class="o">.</span><span class="n">open</span><span class="p">(</span><span class="n">cache_file</span><span class="p">,</span> <span class="s2">&quot;w&quot;</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">io</span><span class="o">|</span>
</span><span class='line'>        <span class="n">io</span><span class="o">.</span><span class="n">write</span> <span class="n">text</span>
</span><span class='line'>      <span class="k">end</span>
</span><span class='line'>    <span class="k">end</span>
</span><span class='line'>
</span><span class='line'>    <span class="k">def</span> <span class="nf">get_cached_text</span><span class="p">(</span><span class="n">url</span><span class="p">,</span> <span class="n">per</span><span class="p">)</span>
</span><span class='line'>      <span class="k">return</span> <span class="kp">nil</span> <span class="k">if</span> <span class="vi">@cache_disabled</span>
</span><span class='line'>      <span class="n">cache_file</span> <span class="o">=</span> <span class="n">get_cache_file_for</span> <span class="n">url</span><span class="p">,</span> <span class="n">per</span>
</span><span class='line'>      <span class="no">File</span><span class="o">.</span><span class="n">read</span> <span class="n">cache_file</span> <span class="k">if</span> <span class="no">File</span><span class="o">.</span><span class="n">exist?</span> <span class="n">cache_file</span>
</span><span class='line'>    <span class="k">end</span>
</span><span class='line'>
</span><span class='line'>    <span class="k">def</span> <span class="nf">get_cache_file_for</span><span class="p">(</span><span class="n">url</span><span class="p">,</span> <span class="n">per</span><span class="p">)</span>
</span><span class='line'>      <span class="n">md5</span> <span class="o">=</span> <span class="no">Digest</span><span class="o">::</span><span class="no">MD5</span><span class="o">.</span><span class="n">hexdigest</span> <span class="n">url</span>
</span><span class='line'>      <span class="no">File</span><span class="o">.</span><span class="n">join</span> <span class="vi">@cache_folder</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">md5</span><span class="si">}</span><span class="s2">-</span><span class="si">#{</span><span class="n">per</span><span class="si">}</span><span class="s2">.cache&quot;</span>
</span><span class='line'>    <span class="k">end</span>
</span><span class='line'>
</span><span class='line'>    <span class="k">def</span> <span class="nf">decode_html</span><span class="p">(</span><span class="n">s</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="sr">/&lt;[^&gt;]*?&gt;/</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;#39;&quot;</span><span class="p">,</span> <span class="s2">&quot;&#39;&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;#39;&quot;</span><span class="p">,</span> <span class="s2">&quot;&#39;&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;quot;&quot;</span><span class="p">,</span> <span class="s2">&quot;</span><span class="se">\&quot;</span><span class="s2">&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;lt;&quot;</span><span class="p">,</span> <span class="s2">&quot;&lt;&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;gt;&quot;</span><span class="p">,</span> <span class="s2">&quot;&gt;&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;nbsp;&quot;</span><span class="p">,</span> <span class="s2">&quot; &quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;laquo;&quot;</span><span class="p">,</span> <span class="s2">&quot;&lt;&lt;&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;raquo;&quot;</span><span class="p">,</span> <span class="s2">&quot;&gt;&gt;&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;copy;&quot;</span><span class="p">,</span> <span class="s2">&quot;(C)&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span> <span class="o">=</span> <span class="n">s</span><span class="o">.</span><span class="n">gsub</span><span class="p">(</span><span class="s2">&quot;&amp;amp;&quot;</span><span class="p">,</span> <span class="s2">&quot;&amp;&quot;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">s</span>
</span><span class='line'>    <span class="k">end</span>
</span><span class='line'>
</span><span class='line'>    <span class="k">def</span> <span class="nf">get_text_from_url</span><span class="p">(</span><span class="n">url</span><span class="p">,</span> <span class="n">threshold_per</span><span class="p">)</span>
</span><span class='line'>      <span class="n">raw_uri</span> <span class="o">=</span> <span class="no">URI</span><span class="o">.</span><span class="n">parse</span> <span class="n">url</span>
</span><span class='line'>      <span class="n">proxy</span> <span class="o">=</span> <span class="no">ENV</span><span class="o">[</span><span class="s1">&#39;http_proxy&#39;</span><span class="o">]</span>
</span><span class='line'>      <span class="k">if</span> <span class="n">proxy</span>
</span><span class='line'>        <span class="n">proxy_uri</span> <span class="o">=</span> <span class="no">URI</span><span class="o">.</span><span class="n">parse</span> <span class="n">proxy</span>
</span><span class='line'>        <span class="n">http</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">::</span><span class="no">Proxy</span><span class="p">(</span><span class="n">proxy_uri</span><span class="o">.</span><span class="n">host</span><span class="p">,</span> <span class="n">proxy_uri</span><span class="o">.</span><span class="n">port</span><span class="p">)</span><span class="o">.</span><span class="n">new</span> <span class="n">raw_uri</span><span class="o">.</span><span class="n">host</span><span class="p">,</span> <span class="n">raw_uri</span><span class="o">.</span><span class="n">port</span>
</span><span class='line'>      <span class="k">else</span>
</span><span class='line'>        <span class="n">http</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">.</span><span class="n">new</span> <span class="n">raw_uri</span><span class="o">.</span><span class="n">host</span><span class="p">,</span> <span class="n">raw_uri</span><span class="o">.</span><span class="n">port</span>
</span><span class='line'>      <span class="k">end</span>
</span><span class='line'>      <span class="k">if</span> <span class="n">raw_uri</span><span class="o">.</span><span class="n">scheme</span> <span class="o">==</span> <span class="s1">&#39;https&#39;</span>
</span><span class='line'>        <span class="n">http</span><span class="o">.</span><span class="n">use_ssl</span> <span class="o">=</span> <span class="kp">true</span>
</span><span class='line'>        <span class="n">http</span><span class="o">.</span><span class="n">verify_mode</span> <span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">SSL</span><span class="o">::</span><span class="no">VERIFY_NONE</span>
</span><span class='line'>      <span class="k">end</span>
</span><span class='line'>      <span class="n">request</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">::</span><span class="no">Get</span><span class="o">.</span><span class="n">new</span> <span class="n">raw_uri</span><span class="o">.</span><span class="n">request_uri</span>
</span><span class='line'>      <span class="n">data</span> <span class="o">=</span> <span class="n">http</span><span class="o">.</span><span class="n">request</span> <span class="n">request</span>
</span><span class='line'>      <span class="n">data</span> <span class="o">=</span> <span class="n">data</span><span class="o">.</span><span class="n">body</span>
</span><span class='line'>      <span class="n">data</span><span class="o">.</span><span class="n">gsub!</span><span class="p">(</span><span class="sr">/&lt;!--.*?--&gt;/</span><span class="p">,</span> <span class="s1">&#39;&#39;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">data</span><span class="o">.</span><span class="n">gsub!</span><span class="p">(</span><span class="sr">/[\t\r\n]/</span><span class="p">,</span> <span class="s1">&#39; &#39;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">title</span> <span class="o">=</span> <span class="n">data</span><span class="o">.</span><span class="n">match</span><span class="p">(</span><span class="sr">/&lt;title[^&gt;]*?&gt;(.*?)&lt;\/title&gt;/i</span><span class="p">)</span>
</span><span class='line'>      <span class="n">title</span> <span class="o">=</span> <span class="n">title</span> <span class="p">?</span> <span class="n">title</span><span class="o">[</span><span class="mi">1</span><span class="o">]</span> <span class="p">:</span> <span class="s1">&#39;&#39;</span>
</span><span class='line'>      <span class="n">title</span> <span class="o">=</span> <span class="n">decode_html</span> <span class="n">title</span>
</span><span class='line'>      <span class="n">data</span><span class="o">.</span><span class="n">gsub!</span><span class="p">(</span><span class="sr">/&lt;(script|style)[^&gt;]*&gt;.*?&lt;\/\1&gt;/</span><span class="p">,</span> <span class="s1">&#39;&#39;</span><span class="p">)</span>
</span><span class='line'>      <span class="n">max</span> <span class="o">=</span> <span class="mi">0</span>
</span><span class='line'>      <span class="n">body</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span>
</span><span class='line'>      <span class="n">data</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="sr">/(&lt;td[^&gt;]*?&gt;)|(&lt;\/td&gt;)|(&lt;div[^&gt;]*?&gt;)|(&lt;\/div&gt;)/</span><span class="p">)</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">html</span><span class="o">|</span>
</span><span class='line'>        <span class="n">text</span> <span class="o">=</span> <span class="n">decode_html</span> <span class="n">html</span><span class="o">.</span><span class="n">dup</span>
</span><span class='line'>        <span class="n">text</span><span class="o">.</span><span class="n">strip!</span>
</span><span class='line'>        <span class="n">text</span><span class="o">.</span><span class="n">gsub!</span><span class="p">(</span><span class="sr">/[\s\t\r\n]+/</span><span class="p">,</span> <span class="s2">&quot; &quot;</span><span class="p">)</span>
</span><span class='line'>        <span class="k">next</span> <span class="k">if</span> <span class="n">text</span> <span class="o">==</span> <span class="s2">&quot;&quot;</span>
</span><span class='line'>        <span class="n">l</span> <span class="o">=</span> <span class="n">text</span><span class="o">.</span><span class="n">length</span>
</span><span class='line'>        <span class="k">if</span> <span class="n">l</span> <span class="o">&gt;</span> <span class="mi">100</span>
</span><span class='line'>          <span class="n">per</span> <span class="o">=</span> <span class="n">l</span><span class="o">.</span><span class="n">to_f</span> <span class="o">/</span> <span class="n">html</span><span class="o">.</span><span class="n">length</span>
</span><span class='line'>          <span class="k">if</span> <span class="n">max</span> <span class="o">&lt;</span> <span class="n">l</span> <span class="ow">and</span> <span class="n">per</span> <span class="o">&lt;</span> <span class="n">threshold_per</span>
</span><span class='line'>            <span class="n">max</span> <span class="o">=</span> <span class="n">l</span>
</span><span class='line'>            <span class="n">body</span> <span class="o">=</span> <span class="n">text</span><span class="o">.</span><span class="n">strip</span>
</span><span class='line'>          <span class="k">end</span>
</span><span class='line'>        <span class="k">end</span>
</span><span class='line'>      <span class="k">end</span>
</span><span class='line'>      <span class="k">if</span> <span class="n">body</span><span class="o">.</span><span class="n">length</span> <span class="o">&gt;</span> <span class="mi">200</span>
</span><span class='line'>        <span class="n">body</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">body</span><span class="o">.</span><span class="n">slice</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">200</span><span class="p">)</span><span class="si">}</span><span class="s2">...&quot;</span>
</span><span class='line'>      <span class="k">end</span>
</span><span class='line'>      <span class="n">text</span> <span class="o">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="n">url</span><span class="si">}</span><span class="se">\n</span><span class="si">#{</span><span class="n">title</span><span class="si">}</span><span class="se">\n</span><span class="si">#{</span><span class="n">body</span><span class="si">}</span><span class="se">\n</span><span class="s2">&quot;</span>
</span><span class='line'>      <span class="n">text</span> <span class="o">=</span> <span class="no">Iconv</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s1">&#39;UTF-8//IGNORE&#39;</span><span class="p">,</span> <span class="s1">&#39;UTF-8&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">iconv</span><span class="p">(</span><span class="n">text</span><span class="p">)</span>
</span><span class='line'>      <span class="n">cache</span> <span class="n">url</span><span class="p">,</span> <span class="n">text</span><span class="p">,</span> <span class="n">threshold_per</span> <span class="k">unless</span> <span class="vi">@cache_disabled</span>
</span><span class='line'>      <span class="n">text</span>
</span><span class='line'>    <span class="k">end</span>
</span><span class='line'>
</span><span class='line'>  <span class="k">end</span>
</span><span class='line'><span class="k">end</span>
</span><span class='line'>
</span><span class='line'><span class="no">Liquid</span><span class="o">::</span><span class="no">Template</span><span class="o">.</span><span class="n">register_tag</span><span class="p">(</span><span class="s1">&#39;urlref&#39;</span><span class="p">,</span> <span class="no">Jekyll</span><span class="o">::</span><span class="no">UrlRef</span><span class="p">)</span>
</span></code></pre></td></tr></table></div></figure>

</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2011/10/21/octopress-pygments-utf8/">Octopressのコードブロックでutf-8が使えないのが直った</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-10-21T00:00:00+09:00" pubdate  data-updated="true" >Oct 21<span>st</span>, 2011</time>
        
         | <a href="/blog/2011/10/21/octopress-pygments-utf8/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>いままで</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>&#96;&#96;&#96; ruby
</span><span class='line'>def foo 
</span><span class='line'>  # 母さん元気ですか？僕は元気です
</span><span class='line'>end
</span><span class='line'>&#96;&#96;&#96;</span></code></pre></td></tr></table></div></figure>


<p>みたいなのがエラーで動かなかったんだけど、今日の修正で直ったみたい。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'><span class="k">def</span> <span class="nf">foo?</span>
</span><span class='line'>  <span class="c1"># 母さん元気ですか？僕は元気です</span>
</span><span class='line'><span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<p>ただ、windowsだとpygmentsがちゃんと動かなくて、追ってみると</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
<span class='line-number'>24</span>
<span class='line-number'>25</span>
<span class='line-number'>26</span>
<span class='line-number'>27</span>
<span class='line-number'>28</span>
</pre></td><td class='code'><pre><code class='text'><span class='line'>C:/Ruby192/lib/ruby/gems/1.9.1/gems/ffi-1.0.9-x86-mingw32/lib/ffi/library.rb:75:in `block in ffi_lib&#39;: Could not open library &#39;.dll&#39;: 指定されたモジュールが見つ (LoadError)
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/ffi-1.0.9-x86-mingw32/lib/ffi/library.rb:54:in `map&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/ffi-1.0.9-x86-mingw32/lib/ffi/library.rb:54:in `ffi_lib&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/rubypython-0.5.1/lib/rubypython/python.rb:29:in `&lt;module:Python&gt;&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/rubypython-0.5.1/lib/rubypython/python.rb:21:in `&lt;top (required)&gt;&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/rubypython-0.5.1/lib/rubypython.rb:261:in `load&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/rubypython-0.5.1/lib/rubypython.rb:261:in `reload_library&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/rubypython-0.5.1/lib/rubypython.rb:104:in `start&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/pygments.rb-0.1.3/lib/pygments/ffi.rb:8:in `start&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/pygments.rb-0.1.3/lib/pygments/ffi.rb:82:in `highlight&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/pygments_code.rb:24:in `pygments&#39;        from C:/temp/github/octopress/plugins/pygments_code.rb:14:in `highlight&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/backtick_code_block.rb:37:in `block in render_code_block&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/backtick_code_block.rb:13:in `gsub&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/backtick_code_block.rb:13:in `render_code_block&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/octopress_filters.rb:12:in `pre_filter&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/octopress_filters.rb:27:in `pre_render&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/post_filters.rb:112:in `block in pre_render&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/post_filters.rb:111:in `each&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/post_filters.rb:111:in `pre_render&#39;
</span><span class='line'>        from C:/temp/github/octopress/plugins/post_filters.rb:166:in `do_layout&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/jekyll-0.11.0/lib/jekyll/post.rb:189:in `render&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/jekyll-0.11.0/lib/jekyll/site.rb:193:in `block in render&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/jekyll-0.11.0/lib/jekyll/site.rb:192:in `each&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/jekyll-0.11.0/lib/jekyll/site.rb:192:in `render&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/jekyll-0.11.0/lib/jekyll/site.rb:40:in `process&#39;
</span><span class='line'>        from C:/Ruby192/lib/ruby/gems/1.9.1/gems/jekyll-0.11.0/bin/jekyll:250:in `&lt;top (required)&gt;&#39;
</span><span class='line'>        from C:/Ruby192/bin/jekyll:19:in `load&#39;
</span><span class='line'>        from C:/Ruby192/bin/jekyll:19:in `&lt;main&gt;&#39;
</span></code></pre></td></tr></table></div></figure>


<p>どうやらpygmentsが使うpythonのdllが見つからないっぽい。でrubypythonを見てみると、ちゃんとpython27.dllのパスを探せてない。パッチ書こうと思ったら既にあった</p>

<p>Liquid error: undefined method `map&#8217; for #&lt;String:0x23262f0></p>

<p>早く取り込んでよ。8月のだよ。で動かしてみたけど読み込めない。調べたら、python27.dllは<code>c:\python27\libs\python27.dll</code>でも<code>c:\python27\python27.dll</code>でもなく、<code>c:\windows\system32\python27.dll</code>なんて所に入ってた。f&#42;ckインストーラ！
こういうのは動かすと必ず問題が起きるので<code>c:\python27\libs\python27.dll</code>にコピーした。
ようやくちゃんと動いた。</p>

<p>快適。</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2011/10/18/octopress-awesome/">「githubとjekyllとoctopressで作る簡単でモダンなブログ」をmarkdownで書き直してみた</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-10-18T00:00:00+09:00" pubdate  data-updated="true" >Oct 18<span>th</span>, 2011</time>
        
         | <a href="/blog/2011/10/18/octopress-awesome/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>自分で書いた記事だけど&#8230;</p>

<p>Liquid error: undefined method `map&#8217; for #&lt;String:0x2349330></p>

<p>を実際にoctopressで書くと、どんな感じかやってみた。
まぁblosxomのテキストをmarkdownに書き直しただけなんですが。
一番下に、markdownにした場合のテキストを貼り付けてあります。</p>

<hr />

<p>以前、「jekyllで始める簡単ブログ」という記事を書いたのですが</p>

<p>Liquid error: undefined method `map&#8217; for #&lt;String:0x2348fb8></p>

<p>octopressというのを使うともっと簡単に出来る事が分かった。</p>

<p>Liquid error: undefined method `map&#8217; for #&lt;String:0x2348c28></p>

<p>Liquid error: undefined method `map&#8217; for #&lt;String:0x2348880></p>

<p>以下簡単な手順を示す。
このgithubリポジトリは基本的に、1ブログに対して1つcloneする。cloneしたら</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'># rake install</span></code></pre></td></tr></table></div></figure>


<p>する。octopressをシステムにインストールのではなく、このブログ用リポジトリにsassテーマをキャッシュさせる為の設定を行うだけなので安心してやって貰ってok。
次にgithubにブログを作るのであれば</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'># rake setup_github_pages</span></code></pre></td></tr></table></div></figure>


<p>を実行し、読み取り書き込み権限のあるgit URLを貼り付けて完了。
Windowsの場合はちょっとここで修正が必要で、<code>config.rb</code>とか<code>Rakefile</code>に変なパスが書かれているので直す。実際には<code>public/c:/path/to/public...</code>みたいなフルパスが重なっているはずなので<code>public...</code>に直せばok。
これについては時間があったらパッチ書いてpull requestを送るつもり。</p>

<p>さて、これでブログを書く準備が出来ました。簡単すぎますね！</p>

<p>試しに<code>source/_posts/2011-10-17-github-jekyll.mkd</code>というmarkdownのファイルを作ります。中身は以前ご紹介した内容と変わりませんが、ocotopressは幾らか拡張プラグインが入っているので色んな書き方が出来ます。
例えばgist tagプラグインを使って</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>---
</span><span class='line'>layout: post
</span><span class='line'>title: "githubとjekyllとoctopressで作るブログ"
</span><span class='line'>date: 2011-07-03 5:59
</span><span class='line'>comments: true
</span><span class='line'>categories:
</span><span class='line'>---
</span><span class='line'>便利すぎる...
</span><span class='line'>
</span><span class='line'>{&#37; gist 1292428 &#37;}</span></code></pre></td></tr></table></div></figure>


<p>こう書いて</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'># rake gen_deploy</span></code></pre></td></tr></table></div></figure>


<p>すると</p>

<p>こんな記事が出来上がります。dateはファイル名じゃなくてdateの方が(設定されていれば)優先されるみたいですね。以後は記事を書いて<code>rake den_deploy</code>するだけの簡単なお仕事です。
他にも、imageタグや、haml形式入力、html5 videoタグなど、色んなプラグインがあります。また、sassフォルダ内にあるsassファイルを弄れば簡単しかも柔軟なCSSを吐き出せます。
なお、<code>_config.xml</code>を弄ってタイトルやサブタイトル、githubアカウント、twitterアカウントなんかを設定すると上述の様なサイトが簡単に出来上がります。</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
</pre></td><td class='code'><pre><code class=''><span class='line'># ----------------------- #
</span><span class='line'>#      Main Configs       #
</span><span class='line'># ----------------------- #
</span><span class='line'>
</span><span class='line'>url: http://mattn.github.com/blog
</span><span class='line'>title: "ギッハブる日記"
</span><span class='line'>subtitle: ギッハブで作る開発日誌
</span><span class='line'>author: mattn</span></code></pre></td></tr></table></div></figure>


<p>気をつけておいて欲しいのは、github/jekyllはCGIで動いている訳じゃなくて、octopressが静的コンテンツを生成しているので、記事をアップする環境に依存する事。まぁここはbundleを使っているのでOSさえ変わらなければ大丈夫かと思います。Windowsからでも既述の様な修正を入れれば使えています。無料のgithubで簡単にしかもモダンなブログサイトを作りたい方は、一考してみてはどうでしょうか。</p>

<hr />

<p>以上が本文、でこのmarkdownのソースは以下。</p>

<div><script src='https://gist.github.com/1295049.js?file='></script>
<noscript><pre><code>以前、「jekyllで始める簡単ブログ」という記事を書いたのですが

{% blockquote Big Sky http://mattn.kaoriya.net/software/lang/ruby/20090409185248.htm Big Sky :: Jekyllで始める簡単ブログ %}
GithubのユーザページでJekyllが使われる様になりました。 GitHub Pages Upgraded to Jekyll 0.5.0 - GitHub I just released Jek...
{% endblockquote %}

octopressというのを使うともっと簡単に出来る事が分かった。

{% blockquote Ocotopress http://octopress.org Octopress %}
Octopress is a framework designed by Brandon Mathis for Jekyll , the blog aware static site generato...
{% endblockquote %}

{% blockquote image/octopress https://github.com/imathis/octopress imathis/octopress - GitHub %}
What is Octopress? Octopress is Jekyll blogging at its finest. Octopress sports a clean responsive t...
{% endblockquote %}

以下簡単な手順を示す。
このgithubリポジトリは基本的に、1ブログに対して1つcloneする。cloneしたら

```
# rake install
```

する。octopressをシステムにインストールのではなく、このブログ用リポジトリにsassテーマをキャッシュさせる為の設定を行うだけなので安心してやって貰ってok。
次にgithubにブログを作るのであれば

```
# rake setup_github_pages
```

を実行し、読み取り書き込み権限のあるgit URLを貼り付けて完了。
Windowsの場合はちょっとここで修正が必要で、`config.rb`とか`Rakefile`に変なパスが書かれているので直す。実際には`public/c:/path/to/public...`みたいなフルパスが重なっているはずなので`public...`に直せばok。
これについては時間があったらパッチ書いてpull requestを送るつもり。

さて、これでブログを書く準備が出来ました。簡単すぎますね！

試しに`source/_posts/2011-10-17-github-jekyll.mkd`というmarkdownのファイルを作ります。中身は以前ご紹介した内容と変わりませんが、ocotopressは幾らか拡張プラグインが入っているので色んな書き方が出来ます。
例えばgist tagプラグインを使って

```
---
layout: post
title: &quot;githubとjekyllとoctopressで作るブログ&quot;
date: 2011-07-03 5:59
comments: true
categories:
---
便利すぎる...

{&amp;#37; gist 1292428 &amp;#37;}
```

こう書いて

```
# rake gen_deploy
```

すると

こんな記事が出来上がります。dateはファイル名じゃなくてdateの方が(設定されていれば)優先されるみたいですね。以後は記事を書いて&lt;code&gt;rake den_deploy&lt;/code&gt;するだけの簡単なお仕事です。
他にも、imageタグや、haml形式入力、html5 videoタグなど、色んなプラグインがあります。また、sassフォルダ内にあるsassファイルを弄れば簡単しかも柔軟なCSSを吐き出せます。
なお、`_config.xml`を弄ってタイトルやサブタイトル、githubアカウント、twitterアカウントなんかを設定すると上述の様なサイトが簡単に出来上がります。

```
# ----------------------- #
#      Main Configs       #
# ----------------------- #

url: http://mattn.github.com/blog
title: &quot;ギッハブる日記&quot;
subtitle: ギッハブで作る開発日誌
author: mattn
```

気をつけておいて欲しいのは、github/jekyllはCGIで動いている訳じゃなくて、octopressが静的コンテンツを生成しているので、記事をアップする環境に依存する事。まぁここはbundleを使っているのでOSさえ変わらなければ大丈夫かと思います。Windowsからでも既述の様な修正を入れれば使えています。無料のgithubで簡単にしかもモダンなブログサイトを作りたい方は、一考してみてはどうでしょうか。
</code></pre></noscript></div>


<p>しかしgist tagプラグイン便利だ。</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2011/10/17/github-jekyll/">Githubとjekyllとoctopressで作るブログ</a></h1>
    
    
      <p class="meta">
        





  



<time datetime="2011-10-17T00:00:00+09:00" pubdate  data-updated="true" >Oct 17<span>th</span>, 2011</time>
        
         | <a href="/blog/2011/10/17/github-jekyll/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>便利すぎる&#8230;</p>

<div><script src='https://gist.github.com/1292428.js?file='></script>
<noscript><pre><code>static const char*
left_trim(const char* str) {
  while (*str &amp;&amp; isspace(*str)) ++str;
  return *str ? str : NULL;
}
</code></pre></noscript></div>



</div>
  
  


    </article>
  
  <nav class="pagination">
    <div>
      
      <a href="/blog/blog/archives">Blog Archives</a>
      
    </div>
  </nav>
</div>
<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2011/10/24/urlref/">URLから本文を抜き出してblockquote作るプラグイン書いた</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/10/21/octopress-pygments-utf8/">octopressのコードブロックでutf-8が使えないのが直った</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/10/18/octopress-awesome/">「githubとjekyllとoctopressで作る簡単でモダンなブログ」をmarkdownで書き直してみた</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/10/17/github-jekyll/">githubとjekyllとoctopressで作るブログ</a>
      </li>
    
  </ul>
</section>

<section>
  <h1>Github Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  
  <a href="https://github.com/mattn">@mattn</a> on Github
  
  <script type="text/javascript">
    $.domReady(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: 'mattn',
            count: 0,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/blog/javascripts/github.js" type="text/javascript"> </script>
</section>


<section>
  <h1>Latest Tweets</h1>
  <ul id="tweets">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  <script type="text/javascript">
    $.domReady(function(){
      getTwitterFeed("mattn_jp", 4, false);
    });
  </script>
  <script src="/blog/javascripts/twitter.js" type="text/javascript"> </script>
  
    <a href="http://twitter.com/mattn_jp" class="twitter-follow-button" data-width="208px" data-show-count="false">Follow @mattn_jp</a>
  
</section>





  
</aside>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2011 - mattn -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
    
      var disqus_shortname = 'mattn-github';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>



  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>







</body>
</html>
